# Byte-compiled
__pycache__/
**/__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Credential file
accessKeys.csv
.DS_Store
# ipynb file
.ipynb_checkpoints/

